<div class="card-group">
    <div class="card">
      <img style="border-radius: 50%; "class="img.pequeña" src="/assets/lucas.jpg" width="150px" height="150px">
      <div class="card-body">
        <h5 class="text-muted">Materia: Laboratorio IV UTN</h5>
        <br>
        <p class="text-muted">El juego consiste en adivinar la palabra, tienes 7 vidas, sino te ahorcas. </p>
        <br>
        <span class="navbar-brand mb-0 h1">Lucas Baccaro</span>
        <p class="card-text"><small class="text-muted">Estudiante universitario de la universidad Tecnologica Nacional</small></p>
      </div>
    </div>


    